<p class="lead">Longer, safer bottom times and optimum decompression using rich mixes.</pclass="lead">

<p>Building on the foundation of Nitrox knowledge contained within Ocean Diver and Sports Diver training, the course develops this knowledge and in particular
    highlights the benefits that can be gained from using high oxygen mixtures to improve the efficiency of off gassing during decompression stops.
    This course takes your diving to a higher level.</p>

<h4>Entry requirement</h4>
<p>
    Entry level is BSAC Sports Diver who has completed the 2007 syllabus (with nitrox content) and has been endorsed as a Nitrox Diver, plus 20 additional
    dives including depth experience to 30 metres. <br>Alternatively, applicants must hold an acceptable diving and nitrox qualification with another agency
    which equates to the above standards. All students must hold gold standard buoyancy from the Buoyancy and Trim BSAC workshop.
</p>

<h4>What you’ll learn</h4>
<p>The Accelerated Decompression Procedures course has a mix of classroom-based and practical lessons, teaching you:</p>
<ul>
    <li>Knowledge of safe diving using Nitrox and accelerated decompression techniques</li>
    <li>Use of gas mixes up to 80% oxygen</li>
    <li>New concepts and skills</li>
    <li>Dive planning</li>
</ul>