<p class="lead">Want to consolidate your first aid and lifesaving skills in a realistic diving environment?</p>

<p>
    The Advanced Lifesaver Award is designed to assess students' lifesaving proficiency and diver rescue skills within realistic open water
    conditions, placing an emphasis on improvisation and immediacy. The assessment also covers first aid for injuries likely to be encountered
    in diving and diving-related activities.
</p>

<h4>Entry requirement</h4>
<p>This award is open to anyone with the BSAC Lifesaver Award.</p>

<h4>What you’ll be assessed on<br></h4>
<ul>
    <li>Throwing exercise</li>
    <li>Controlled buoyant rescue from depth</li>
    <li>Surface rescue</li>
    <li>First Aid exercise and theory test</li>
</ul>
