<p class="lead">Are you an experienced diver but want to extend your range to 80m on open circuit?</p>

<p>
    You can extend your mixed gas diving skills and depth certification to 80m on this course. It teaches experienced open circuit mixed gas divers
    to be able to dive a maximum depth of 80 metres. The course uses gas mixes of oxygen less than 18% and greater than 35% helium.
</p>

<h4>Entry requirement</h4>
<p>This course is open to all BSAC Sport/Explorer Mixed Gas divers (or acceptable alternative) with 100 logged dives.</p>

<h4>What you’ll learn</h4>
<ul>
    <li>Extending open-water skills</li>
    <li>Equipment preparation</li>
    <li>Dive planning</li>
    <li>Deeper diving</li>
</ul>