<p class="lead">Want to learn how to save the life of someone suffering from a heart attack?</p>

<p>
    This half day course is designed to give students the skills and confidence to use a defibrillator so that in the event of an emergency
    they have the confidence to use one. It covers general techniques and procedures as well as the extra information relevant to diving
</p>
<p>A really valuable course for both diving and general life skills.</p>

<h4>Entry requirement</h4>
<p>This course is open to all over the age of 12. It is open to all with basic life support knowledge.</p>

<h4>What you’ll learn</h4>
<p>The AED course has a mix of classroom-based and practical lessons, teaching you:</p>
<ul>
    <li>AED equipment</li>
    <li>Physiology of the heart</li>
    <li>Practical use of the equipment with other first aid</li>
</ul>