<p class="lead">Want to learn how to handle a dive boat but have little or no experience?</p>

<p>This two-day course is designed to give students with little or no boat handling knowledge or experience, instruction in small boat
    handling. It covers techniques relevant to diving and related safety knowledge. The first half of day one covers the theory fundamentals
    with practical sessions in the afternoon, and then all of day two is spent doing practical sessions.<br>Many divers find this the most
    enjoyable course we do. It provides or enhances skills dramatically over a weekend that can often be further refined in the branch.
</p>

<h4>Entry requirement</h4>
<p>This course is open to all over the age of 14. No diving qualification is needed to do this course.</p>

<h4>What you’ll learn<br></h4>
<p>The Boat Handling course has a mix of classroom-based and practical lessons, teaching you:</p>
    <ul>
        <li>familiarisation with the boat and its equipment.</li>
        <li>owner and driver responsibilities.</li>
        <li>boat handling basics – operating a boat, launching/loading and retrieval</li>
        <li>voyage planning – weather, tides, area familiarity, crew and ‘get home’ plan.</li>
        <li>both sheltered and open water handling.</li>
        <li>anchoring and diving.</li>
    </ul>

<p><strong>The fun bit</strong>. As there is a maximum of three students per instructor, there’s lots of hands-on action with this course. You’ll feel the
    thrill of driving a boat at high speed, and face the challenge of conquering new skills and techniques. When you’re not driving yourself
    you’ll be practicing new skills as part of the boat crew.</p>