<p class="lead">Want to improve your buoyancy control?</p>
<p>Perfecting buoyancy control is a major step towards safe and comfortable diving. This workshop aims to build on your
    existing skills by equipping you with the correct buoyancy and trim techniques needed to get the most out of your diving. The key aim of this one-day workshop
    is to help you to experience and understand the issues that affect buoyancy and trim, overcome overweighting and to maintain good buoyancy and trim at varying
    depths.</p>

<p>There are four levels of achievement to be awarded – bronze, silver, gold and black – based on the levels at which the student’s buoyancy can be maintained. </p>

<h4>Entry requirement</h4>
<p>BSAC Ocean Diver or acceptable alternative.</p>

<h4>What you’ll learn</h4>
<p>The Buoyancy and Trim workshop consists of a theory presentation and a practical session:</p>
<ul>
    <li>Principles of good buoyancy; issues and causes of poor buoyancy control</li>
    <li>Correct weighting; drysuit and BC</li>
    <li>Perfecting your trim – body positions and techniques</li>
</ul>