<p class="lead">Want to learn how to learn how to get a boat to a dive site and back?</p>

<p>
    This two-day classroom and practical course will teach you the basic techniques of marine navigation including how to locate a dive site.
    This will ultimately help you plan and manage dives undertaken by BSAC branches in any type of boat.
</p>
<p>
    The course focuses on the techniques of chartwork, position fixing and navigation. This course goes hand-in-hand with the practical Boat
    Handling course.
</p>

<h4>Entry requirement</h4>
<p>This course is open to all. No diving qualification is needed to do this course.</p>

<h4>What you’ll learn</h4>
<p>The classroom-based lessons will teach you:</p>
<ul>
    <li>chart basics and tides</li>
    <li>position fixing methods, GPS and radar</li>
    <li>how to find a dive site and voyage planning</li>
</ul>