<p class="lead">Would you like to be able to operate a compressor to fill diving cylinders?</p>

<p>
    This half-day course teaches the basics of compressor operation suitable to fill cylinders, with air, for diving purposes. Theory is
    combined with practical experience of use of the compressor. If you would like to be able to fill your own cylinders and assist club
    activities this is a suitable course for you.<br>Regular practice maintains confidence and will lead to opportunities to expand skills
    with additional gases.
</p>

<h4>Entry requirement</h4>
<p>The course is open to all and will include explanations of cylinder markings for those not familiar with them.</p>


    <h4>What you’ll learn</h4>
    <ul>
        <li>Principles of the physics of compressed gases</li>
        <li>Theory associated with the compressor</li>
        <li>Hands on practice of using a compressor</li>
    </ul>
