<p class="lead">Want to learn how to plan and manage dives?</p>

<p>Meticulous planning and good management help make diving trips successful and this course will show you how. Aimed at potential Dive Leaders
    and Advanced Divers, this two-day course introduces and extends existing knowledge and practical skills in all aspects of the process of
    planning and managing dives. </p>

<p>The course involves lots of practice under the guidance of experienced instructors and gives you the confidence to plan and manage dives, and
    to manage a real dive yourself. This is a fun course with group sessions and a day’s diving. You will also get three Dive Leader lessons
    signed off with this course. </p>

<p>Dive Planning and Management SDC covers DT8, 12 and DP1 in the Dive Leader syllabus and these elements can be signed up after the course.</p>

<h4>Entry requirement</h4>
<p>
    This course is open to BSAC Sports Divers (or acceptable alternative). Minimum of 20 dives required.
</p>

<h4>What you’ll learn</h4>
<p>The course has a mix of classroom-based and practical lessons, teaching you:</p>
<ul>
    <li>the importance of dive planning and management and the correct procedures for doing it.</li>
    <li>how to plan and manage dives</li>
</ul>