<p class="lead">Experienced in handling a boat? Then earn the Diver Coxswain Assessment</p>

<p>
    This half-day assessment is designed to assess students’ practical boat handling skills and the essential knowledge needed to handle small boats
    and diving-specific boat handling activities - competently.
</p>

<p>Qualification enables the Diver Coxswain to prove competence and to play a key role in dive planning and management.</p>

<h4>Entry requirement</h4>
<p>
    Open to all over the age of 16. You will need to have completed the BSAC Boat Handling Course and accrued a minimum of five hours' boat
    handling experience or can prove prior boat handling experience (minimum of 20 hours logged). No diving qualification is needed to do this
    course.
</p>

<h4>What you’ll be assessed on</h4>
<p>The Diver Coxswain Assessment covers three areas:</p>
<ul>
    <li>Voyage planning</li>
    <li>Practical boat handling</li>
    <li>Theory knowledge</li>
</ul>
