<p class="lead">Want to learn how to prolong the life of your dive gear?</p>

<p>
    This one-day course is great for divers that own their own equipment or look after their club’s kit. The course acquaints you with the
    maintenance requirements of modern diving gear. It also distinguishes between what maintenance the owner may safely undertake and what
    should be left to a trained repair technician.<br>The course covers typical problems and has a mixture of lessons and hands-on sessions
    so you can practice and develop your new skills.
</p>

<h4>Entry requirement</h4>
<p>This course is open to BSAC Ocean Divers or acceptable alternative.</p>

<h4>What you’ll learn</h4>
<p>The classroom-based courses teaches you:</p>
<ul>
    <li>typical problems and owner maintenance</li>
    <li>how to inspect your kit for problems</li>
    <li>what to leave to the professionals</li>
</ul>