<p class="lead">Are you an experienced diver but want to extend your range to 60m on open circuit?</p>

<p>The benefit of using gas mixes containing helium is controlling to an extent, the effect of nitrogen narcosis. The narcotic effect of nitrogen
    becomes debilitating as depth increases. Controlling the narcotic effect of the gas at depth enables improved awareness, therefore safer than
    deep air diving.</p>

<p>You can extend your mixed gas diving skills and depth certification with this course. It teaches experienced open circuit divers to use mixed
    gas to expand their current o be able to dive a maximum depth of 60 metres. The course uses gas mixes of oxygen greater than or equal to
    18% and helium less than or equal to 35%.</p>

<h4>Entry requirement</h4>
<p>This course is open to all BSAC Sports Mixed Gas divers (or acceptable alternative) with 30 logged dives in the 30 to 50 metre range.
</p>

<p>Students with suitable experience and core skills can combine the Sports and Explorer Mixed Gas courses in one event but the qualification
    awarded will be dependent on overall performance.</p>

<h4>What you’ll learn</h4>
<ul>
    <li>Extending open-water skills</li>
    <li>Equipment preparation</li>
    <li>Dive planning</li>
    <li>Deeper diving</li>
</ul>