<p class="lead">Want to be able to provide first aid in a diving environment?</p>

<p>
    This one-day course teaches the basics of non-resuscitation first aid likely to be needed in the BSAC diving environment. There is lots of
    practice on the course (under the guidance of experienced instructors) giving you the confidence to give first aid in a real emergency.
    It includes making use of the resources likely to be available at the time including improvisation of dressings and splints using materials
    and equipment commonly found at the dive site or in a boat.<br>If you already have first aid training, this course is a quick and easy way to
    ‘practice, practice, practice’ your skills, while learning the best way to apply them in diving.<br>First aid skills deteriorate rapidly
    if not used or practiced regularly so it is recommended that students undertake a refresher course at least every three years.
</p>

<h4>Entry requirement</h4>
<p>
    This course is open to any diver. Experience on dive trips, knowledge of diving procedures and diving related physiology to at least
    Ocean Diver level is advantageous.
</p>

<h4>What you’ll learn</h4>
<ul>
    <li>principles and priorities of first aid</li>
    <li>casualty examination, dressings, splinting and moving casualties</li>
    <li>summoning assistance</li>
    <li>shock, first aid kits, wounds and bleeding, bandaging, burns, injuries to muscles, bones and joints, and other diving-related conditions</li>
</ul>