<p class="lead">Would you like theopportunity to learn the skills of diving under ice?</p>

<p>
    This two-day course offers the opportunity to dive under ice. In addition the course will provide background experiences to this type of
    diving as well as actual diving itself. Whilst this is a specialised course it provides a unique experience for those who take the plunge.
</p>

<h4>Entry requirement</h4>

<p>The minimum entry level for this course is Sports Diver + 10 dives, (or equivalent from another agency) with experience of cold water diving
    – i.e. diving in conditions of less than approximately 10 degrees C, and requiring use of full suit, hood and gloves).
</p>

<h4>What you’ll learn</h4>
<p>The Ice Diving course has a mix of classroom and practical lessons, including:</p>
<ul>
    <li>Physiological effects of cold</li>
    <li>Ice diving equipment</li>
    <li>Practical ice diving techniques</li>
    <li>Rescue procedures and skills</li>
</ul>