<p class="lead">Looking to build on your core first aid and lifesaving skills in a diving environment?</p>

<p>
    The Lifesaver Award assesses students’ lifesaving proficiency and diver rescue skills within a pool or sheltered water environment.
    The course also allows for additional or refresher training as required.<br>Holders of the Lifesaver Award will have demonstrated their
    lifesaving proficiency in diving and non-diving situations.
</p>

<h4>Entry requirement</h4>
<p>This award is open to anyone over the age of 12 and an Ocean Diver (or acceptable alternative).</p>

<h4>What you’ll be assessed on</h4>
<p>The Lifesaver Award is obtained by passing an examination which comprises of two sections – a dry theoretical and practical test and a wet practical test:</p>
<ul>
    <li>Lifesaver theory covers the human body, diver rescue and basic life support.</li>
    <li>Lifesaver in-water skills includes towing and throwing</li>
</ul>