<p class="lead">Want to know more about the marine environment you dive in?</p>

<p>This one-day course aims to educate divers about the underwater world, through a series of related lessons and exercises.</p>

<p>Marine Life Appreciation covers the main groupings of marine creatures and the diversity of life within them, the basic science that governs
    life underwater, current human impact on the oceans, and describes how you can further your knowledge and contribute to marine science and
    conservation. The course will teach you how to use marine life identification resources effectively and, if you do the optional underwater
    lesson, some tricks for observing marine life you might otherwise miss.</p>

<h4>Entry requirement</h4>
<p>This course is open to any BSAC member.</p>

<h4>What you will learn</h4>
<p>This course is not a Marine Identification course, instead it aims to provide an accessible overview of the marine environment and the
    basic science that governs life underwater, including:</p>
<ul>
    <li>The main groups of marine creatures </li>
    <li>Key marine science processes</li>
    <li>Human impact on the marine environment</li>
    <li>What you as a diver can do to protect and preserve our marine environment</li>
</ul>