<p class="lead">Want to be able to mix diving gas (nitrogen, oxygen and helium)?</p>

<p>
    This one-day course provides training in mixing Nitrox (or also helium mixes too). Both courses covers theory,
    complimented by practice to test skills learned in aspects of mixing gas. Successful candidates will be confident to mix gas to within
    safe diving tolerances for either Nitrox or also gases using helium.
</p>

<h4>Entry requirement</h4>
<p>This course is open to BSAC Ocean Divers or acceptable alternative and minimum age of 18.</p>

<h4>What you’ll learn</h4>
<ul>
    <li>Nitrox blending (theory and practical)</li>
    <li>Safety precautions</li>
    <li>Practical gas mixing
        <br/>On the Mixed Gas version of the course there will be the added considerations of blending mixes using helium in diving gas.</li>
</ul>