<p class="lead">Want to be proficient in RIB, outboard engine and trailer maintenance?</p>

<p>This one-day practical course will teach you the basic skills of looking after a typical diving RIB.</p>

<h4>Entry requirement</h4>
<p>This course is open to all. No diving qualification is needed to do this course.</p>

<h4>What you'll learn<br></h4>
<ul>
    <li>Fault finding for engine problems</li>
    <li>Limited engine care and maintenance</li>
    <li>Care and maintenance of a typical RIB</li>
    <li>Care and maintenance of a typical trailer</li>
</ul>