<p class="lead">Want to learn how to safely administer oxygen?</p>

<p>
    This one-day course is designed to teach the administration of oxygen as a means on increasing the effectiveness of First Aid treatment of
    diving accidents. Oxygen treatment takes place on the surface – either on a boat or dry land. This course gives confidence to divers so they
    can assist with a diving-related injury.<br>The course concludes with a practical and theory assessment. Only those who pass the assessment will
    be able to apply for a qualification card.
</p>

<h4>Entry requirement</h4>
<p>
    You need to be a minimum of BSAC Ocean Diver (or equivalent). This course may also be open to others at the discretion of
    the BSAC Safety and Rescue Skills Chief Examiner.
</p>

<h4>What you’ll learn</h4>
<p>The Oxygen Administration course has a mix of classroom-based and practical lessons, teaching you:</p>
<ul>
    <li>basic life support</li>
    <li>use of the pocket mask</li>
    <li>oxygen and diving incidents and how they benefit from oxygen</li>
    <li>casualty assessment</li>
    <li>the use of oxygen administration equipment</li>
</ul>

