<p class="lead">Want to learn how to be an effective manager in a rescue situation?</p>

<p>This one-day course teaches divers how to manage the resources at their disposal in order to make the most effective use of them in a rescue
    situation. Although the emphasis is on the development of rescue management skills, the course also provides an opportunity for further
    instruction in personal rescue skills.<br>This course involves hypothetical scenarios to practice and test your management skills. It helps
    divers avoid pitfalls that untrained divers can fall into in a rescue situation.</p>

<h4>Entry requirement</h4>
<p>This course is open to BSAC Sports Divers or acceptable alternative.</p>

<h4>What you’ll learn</h4>
<p>The Practical Rescue Management course has a mix of classroom-based and practical lessons, teaching you:</p>

<ul>
    <li>the rescue process – the nature of accidents, prevention, rescue scenarios and drawing out priorities.</li>
    <li>theory of rescue management including removing casualty to a point of safety, first aid priorities, summoning emergency services and evacuating casualty.</li>
    <li>practical rescue management – open water sessions concentrate on the management of a variety of different scenarios.</li>
    <li>Helicopter operations</li>
</ul>