<p class="lead">Want to learn effective search and safe recovery of underwater objects?</p>

<p>
    This two-day course teaches divers how to use the correct techniques and procedures required for search and recovery projects.
    It also provides practical experience of underwater search methods and the use of buoyancy to lift objects. Search and Recovery SDC
    covers DO4 in the Dive Leader syllabus and this element can be signed up after the course.
</p>

<h4>Entry requirement</h4>
<p>This course is open to BSAC Sports Divers or acceptable alternative.</p>

<h4>What you’ll learn</h4>
<p>The Search and Recovery course has a mix of classroom-based and practical lessons, teaching you about:</p>
<ul>
    <li>the shotline and its uses</li>
    <li>search operations and techniques</li>
    <li>recovery operations and techniques</li>
</ul>