<p class="lead">Are you an experienced diver but want to extend your range to 50m on open circuit?</p>

<p>
    The benefit of using gas mixes containing helium is controlling to an extent, the effect of nitrogen narcosis. The narcotic effect of nitrogen becomes
    debilitating as depth increases. Controlling the narcotic effect of the gas at depth enables improved awareness, therefore safer than deep air diving.
</p>

<p>
    This course introduces divers to mixed gas diving using open circuit dive equipment. It teaches experienced divers to use mixed gas to expand their current skills
    to be able to dive a maximum depth of 50 metres using the most appropriate gas mix. The course uses gas mixes of oxygen greater than or equal to 20% and
    helium less than or equal to 30%.
</p>

<h4>Entry requirement</h4>
<p>
    This course is open to all BSAC Sports Diver (or acceptable alternative) with depth qualification to 35 metres with 60 logged dives.
    Also be a BSAC Advanced Nitrox Diver or BSAC Accelerated Decompression Procedures Diver (or equivalent).
</p>

<h4>What you’ll learn</h4>
<ul>
    <li>Theory of mixed gas diving</li>
    <li>Equipment and Decompression System</li>
    <li>Physiology</li>
    <li>Practical diving techniques</li>
</ul>