<p class="lead">How to ensure you carry sufficient gas for your planned dive and appropriate configuration methods</p>

<p>
    A central theme running through this course and a basic principle of twin-set diving is self sufficiency within a buddy diving context.
    This concept translates in practice as adopting an attitude and equipment provision that supports oneself as the first port of call response
    for resolving a problem. This course complements and support the Accelerated decompression procedures course (ADP).
</p>

<h4>Entry requirement</h4>
<p>
    Entry level is BSAC Sports Diver with depth expereince to 35m, plus 20 additional dives.
    <br />Alternatively, students must hold an acceptable diving qualification with another agency which equates to the above standards (35m).
</p>

<h4>What you’ll learn</h4>
<p>The Twin-set Diving course has a mix of classroom-based and practical lessons, teaching you:</p>
<ul>
    <li>Configurations, Ancillary Equipment & Failure Mode Responses</li>
    <li>Dive planning and monitoring</li>
    <li>Practical Equipment configuration</li>
    <li>Open Water practice</li>
</ul>