<p class="lead">Want to take better underwater pictures?</p>

<p>
    This 1-2 day course is for people with little or no experience and teaches the basic use of a compact digital camera and housing. The course
    involves half a day of theory instruction and dry practical, followed by an underwater practical, followed by another dry session to view the
    results. The duration of the course will depend on numbers and location.
</p>
<p>
    You are advised to bring your own underwater camera if you have one,
    but if not, a camera will be provided. If you have a digital camera but no housing, you may find it useful to have it to hand during the theory
    sessions.
</p>

<h4>Entry requirement</h4>
<p>
    This course is open to BSAC Sports Divers (or acceptable alternative). Because of the task loading imposed by using an underwater camera and
    risk of damage to sensitive marine life, it is recommended that before attempting underwater photography in open water conditions, students
    should be able to control their buoyancy within ±1m or better, and that they should be very familiar with their own diving equipment.
</p>

<h4>What you’ll learn</h4>
<p>The classroom-based and practical lessons will include:</p>
<ul>
    <li>Optics – issues specific to underwater photography</li>
    <li>Camera and housing fundamentals</li>
    <li>Camera functions and shooting techniques</li>
    <li>Practical tips underwater</li>
</ul>