<p class="lead">Want to get more out of wreck diving?</p>

<p>
    This two-day course enables divers to safely dive wrecks and to recognise and appreciate what they see. It covers a wide range of diving
    interests from the historical side to the marine life and the excitement of exploring a new wreck. Following some dry sessions students
    apply their new knowledge, equipment and techniques to safely navigate around a wreck and complete a small survey.
</p>
<p>
    Dives, both during
    and after the course, will give you a much better understanding and enjoyment of wrecks, allow you to dive with more of a purpose and develop
    your own projects.
</p>

<h4>Entry requirement</h4>
<p>You need to be a minimum of BSAC Ocean Diver (or acceptable alternative).</p>

<h4>What you’ll learn</h4>
<p>The course has a mix of classroom-based and practical lessons, including:</p>
<ul>
    <li>how to get information on wreck sites and wreck law</li>
    <li>marine diversity on wrecks</li>
    <li>how to identify the major parts of a wreck and make basic site sketches</li>
    <li>the additional kit and techniques used for safer wreck diving</li>
</ul>