@{
    Layout = "~/Views/Shared/_Layout_empty.cshtml";
    ViewBag.Title = "Error";
}

<section class="content-block">
    <div class="container">
        <div class="underlined-title">
            <h1>Something went wrong</h1>
            <hr />
        </div>
        <p>An unexpected error occurred. Please try again or <a href="/gbsacCore/Home/ContactUs">contact us</a> if the problem persists.</p>
    </div>
</section>
