<footer>
    <div>
        <div class="text-center">
            <span class="address">
                Guildford Sub-Aqua Club,
                Guildford Waterside Centre,
                Riverside,
                Guildford,
                Surrey,
                GU1 1LW
            </span> |
            <span><a href="https://www.guildford-bsac.com/">www.guildford-bsac.com</a></span>
        </div>
    </div>
</footer>
