.g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

@media only screen and (min-width : 768px) {
    .g-recaptcha {
        transform:scale(1);
        -webkit-transform:scale(1);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}