#header {
    a.nav-link {
        text-transform: uppercase;
        color: #ddd;
        background: none;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000;

        &:hover {
            color: #fff;
        }

        &:focus {
            outline: none;
        }
    }

    .navbar {
        transition: all 2s ease;
    }

    #logo {
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;

        &.smalllogo {
            height: 66px;
        }

        &.largelogo {
            height: 157px;
        }
    }
}