#learntodive {

    .nav-tabs {
        .nav-link {
            padding: 10px 16px;
            font-size: 12px;
            font-weight: 700;
            font-style: normal;
            font-family: inherit;
            text-transform: uppercase;
            color: #737c85;
            cursor: pointer;
            border-color: rgba(0, 95, 163, 0.2);
            border-bottom: 4px solid rgba(0, 95, 163, 0.2) !important;
        }

        .nav-link:hover,
        .nav-link:focus {
            border-bottom: 4px solid #005fa3 !important;
        }

        .nav-link.active,
        .nav-link.active:hover,
        .nav-link.active:focus {
            background-color: transparent;
            border-bottom: 4px solid #005fa3 !important;
        }
    }

    .tab-content {
        padding: 10px;
        border: 1px solid rgba(0, 95, 163, 0.2);
    }

    .tab-pane {
        padding: 0;
        border-bottom: 1px solid #ecf0f1;
    }
}
