<section id="about" class="content-block-nopad">
    <div class="image-container col-md-5 col-sm-3 d-none d-sm-block float-start">
        <div class="background-image-holder"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6 col-sm-8 offset-sm-4 content clearfix">
                <h1>About us</h1>
                <p class="lead">
                    Guildford BSAC is a club branch of the British Sub Aqua Club and, for the past 50 years has been training scuba divers
                    and organising recreational diving around the UK and overseas. We are a not for profit members club and offer a safe and informal environment to enjoy
                    scuba diving, meet and make friends and learn more about diving and the oceans.
                </p>

                <p>
                    We regularly dive all around the UK on reefs and wrecks enjoying the huge range of fish and fauna in our waters. Our members also organise
                    holidays abroad with memorable trips to Indonesia, Maldives and the Red Sea..
                </p>
                <p>
                    We typically have over 90 diving members, they are the life-blood of our club. Our members have a varied range of qualifications and interests,
                    so whatever type of diving you are into, it can be pursued in our club.
                </p>
                <p>
                    Our clubhouse at the Guildford Waterside Centre provides a great social base where our members can enjoy a drink, share stories and prepare for dive trips.
                    We have a purpose-built boat shed for our two 6m RHIBs and our compressor. Air is free to all members and Nitrox is provided at club rates. We also provide
                    all dive kit, except drysuit, to members while in training and qualified members can hire kit at modest rates.
                </p>
                <p>
                    We are a well-qualified BSAC Branch with members diving qualifications ranging from 1st class divers through to trainees and over 20 members with instructor qualifications
                    and are able to offer in house club training from complete beginners through to instructors and specialist courses such as boat handling and dive gas mixing.
                </p>

                <h4><img src="~/Content/Images/divecrewlogo.png" class="pe-3 w-25 float-end" />Divecrew</h4>
                <p>
                    We have partnered with Divecrew to offer Ocean Diver <a href="@Url.Action("Index", "Training")#fasttrack">Fast track training</a>. Divecrew, in Crowthorne has been run by Martin Weddell and Sue Coffey since 2012. The focus has been primarily on training and development for the PADI community offering a complete range of training packages. The Centre has a dive shop/online shop, onsite gear servicing and full compressor facilities:
                    <ul>
                        <li>BSAC Centre status</li>
                        <li>Divecrew is the only Gold Star PADI Centre in the UK</li>
                        <li>Extensive work with Deptherapy, supported by Adaptive Instructors</li>
                        <li>Divecrew is a PADI Instructor Development Centre</li>
                        <li>An Approved Youth training facility and has become a very successful schools specialist.</li>
                    </ul>
                </p>  

            </div>
            </div>
        </div>
</section>