<section id="about" class="content-block-nopad">
    <div class="image-container col-md-5 col-sm-3 d-none d-sm-block float-start">
        <div class="background-image-holder"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6 col-sm-8 offset-sm-4 content clearfix">
                <h1>About Us</h1>
                <p class="lead">
                    Guildford BSAC is a branch of the British Sub-Aqua Club, founded on 30 October 1957 at Guildford Lido by nine enthusiasts who became Branch 53 of BSAC.
                    For nearly 70 years we have been training scuba divers and organising recreational diving around the UK and overseas.
                </p>
                <a href="@Url.Action("About", "Home")" class="btn btn-outline outline-dark">Read more about us</a>

            </div>
            </div>
        </div>
</section>