<section id="home" class="content-block-nopad">
    <div id="carousel-top" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-top" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-top" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-top" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel-top" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active slide1">
                <div class="carousel-caption">
                    <h1>
                        Learn to Dive, Make Friends
                        <br />... Be Part of the Adventure
                    </h1>
                    <h2>
                        Call <a href="tel:+447787141857">07787 141 857</a> or
                        <a aria-label="Chat on WhatsApp" href="https://wa.me/447787141857">
                            <img alt="Chat on WhatsApp" src="~/Content/Images/WhatsAppButtonWhiteSmall.png" style="height: 1em;" />
                        </a>
                    </h2>
                    <a href="https://www.facebook.com/GuildfordBSAC/" class="btn btn-trans btn-lg" target="_blank">Visit us on Facebook</a>

                </div>
            </div>
            <div class="carousel-item slide2">
                <div class="carousel-caption">
                    <h1>
                        Wrecks, Reefs and Open Ocean
                        <br />Exploring the best of UK diving since 1957
                    </h1>
                </div>
            </div>
            <div class="carousel-item slide3">
                <div class="carousel-caption">
                    <h1>
                        Divers, Come and Join Us!
                    </h1>
                    <a href="#joinus" class="btn btn-trans btn-lg">Find Out More</a>
                </div>
            </div>
            <div class="carousel-item slide4">
                <div class="carousel-caption">
                    <h1>
                        Brilliant Diving in the UK...
                        <br />so much to see
                    </h1>
                    <a href="#about" class="btn btn-trans btn-lg">About Us</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-top" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-top" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>