<section id="joinus" class="content-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1>Join Us</h1>
                <p class="lead">
                    We Meet Every Tuesday Evening at our Clubhouse, the <a href="#contactus" class="swingscroll">Guildford Waterside Centre</a>
                </p>
                <p>
                    If you are new to diving and are interested in exploring a new sport or an experienced diver looking for a great dive
                    club come and visit us and let us introduce you to the best dive club in Surrey.
                </p>
                <p>
                    <img src="~/Content/Images/scubamagcover.jpg" class="pe-3 w-25 float-start" data-animate="bounceIn" />
                    We were featured in the Junes 2020 SCUBA magazine with a 3 page article, which has lots more information about our club.  You can find an extract of the article <a href="~/Content/Images/iSCUBA_103_extract.pdf" target="_blank">here</a>.
                </p>
                <p>
                    For new member enquiries please
                    @Html.ActionLink("Contact Us", "ContactUs", "home")
                    for information about the club and find out how to join the next Ocean Diver Course.
                </p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6 col-sm-12">
                <img src="~/Content/Images/diversurface.jpg" class="rounded img-fluid" data-animate="bounceIn" />
            </div>
        </div>
    </div>
</section>