<section id="tryus" class="content-block bg-primary">
    <div class="container text-center">
        <h2>Try Us - No matter what your diving experience is, Guildford Sub-Aqua Club has something to offer.</h2>
        <p class="lead">
            From beginner to experienced, we provide a full training programme that enables divers to progress through a framework of qualifications at their own pace.
        </p>
    </div>
</section>