@model dynamic
<section id="codeofconduct" class="content-block">
    <div class="container">
        <div class="underlined-title">
            <h1>Code Of Conduct for all members</h1>
            <hr />
        </div>

        <p>
            Guildford Sub-Aqua Club is fully committed to safeguarding and promoting the well-being of all of its members, ensuring a positive and enjoyable experience for all.  The club believes that it is important that members should, at all times, show respect and understanding for the safety and welfare of others. Therefore, members are encouraged to be open at all times and to share any concerns or complaints that they may have about any aspect of the club with our Welfare Officer or any other member of the Committee.
        </p>

        <p>
            As a member of Guildford Sub-Aqua Club, you are expected to abide by the following code of practice:
        </p>

        <ul>
            <li>All members must take responsibility in ensuring they are up to date with BSAC rules, understand and adhere to them.</li>
            <li>All members must respect the rights, dignity and worth of all participants regardless of age, gender, ability, race, cultural background, religious beliefs or sexual identity.</li>
            <li>Members should recognise the valuable contribution made by all members. Everyone gives their time and resources to the club for the benefit of all of us.</li>
            <li>All members should be a positive role model and treat other members with the same level of respect you would expect to be shown to you.</li>
            <li>Bullying of any sort will not be tolerated. Encourage everyone to enjoy our sport and understand that people have different motivations for taking part.</li>
            <li>All members should treat each other with mutual trust and respect.</li>
        </ul>

    </div>
</section>