@using GuildfordBsac.Web.Models
<section id="faqs" class="content-block">
    <div class="container">
        <div class="underlined-title">
            <h1>Frequently Asked Questions</h1>
            <hr />
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (FaqViewModel faq in Model.Faqs)
            {
                <partial name="_faq" model="faq" />
            }
        </div>

        <div class="text-center mt-5 pt-4 border-top">
            <p class="lead mb-3">Still have questions? We'd love to hear from you.</p>
            <a href="@Url.Action("ContactUs", "Home")" class="btn btn-cta btn-lg">Get in Touch</a>
        </div>
    </div>
</section>