@model dynamic
<section id="privacpolicy" class="content-block">
    <div class="container">
        <div class="underlined-title">
            <h1>Privacy Policy</h1>
            <hr />
        </div>

        <p>
            This is the privacy notice of Guildford Sub-Aqua Club. It explains why we collect personal information, how we use it and the legal rights of people whose personal information we hold.
        </p>

        <h2>
            Why do we collect personal information?
        </h2>

        <p>
            We collect, use and store personal information for the legitimate interests and objectives of our club so that we can:
        </p>

        <ul>
            <li>keep in contact with our members</li>
            <li>maintain our membership and accounting records</li>
            <li>send information and documents about our club’s activities</li>
            <li>reimburse members for costs incurred on behalf of our club</li>
            <li>confirm someone’s identity</li>
            <li>comply with our legal obligations</li>
            <li>deal with complaints</li>
            <li>safeguarding of the interests of Guildford Sub-Aqua Club e.g. defend legal actions; detect or prevent fraud or other crime</li>
        </ul>

        <h2>
            What sort of personal information do we collect?
        </h2>
        <p>
            The information will be held securely and may include:
        </p>

        <ul>
            <li>name and address</li>
            <li>telephone numbers and email addresses</li>
            <li>date of birth</li>
            <li>dive and instructor qualifications</li>
            <li>date of most recent medical self declaration</li>
            <li>next of kin contact details</li>
            <li>BSAC membership</li>
            <li>membership renewal dates</li>
            <li>bank account details where they have been supplied for the purposes of reimbursement, Guildford Sub-Aqua Club will not retain or record bank account details sent to BSAC for the collectionl of branch levy and BSAC membership payments.</li>
            <li>logs of dives undertaken with our club</li>
        </ul>

        <h2>Sharing personal information</h2>
        <p>
            We share personal information with the club committee and other members in order to run our club activities.
        </p>
        <p>
            We may also be required to give personal information to fraud prevention agencies, the police and other law enforcement authorities.
        </p>
        <p>
            We will not give information to anyone else unless:
        </p>
        <ul>
            <li>the member agrees</li>
            <li>we are allowed or required by law to disclose it</li>
            <li>we do not give personal information to any other organisation for their own marketing purposes</li>
        </ul>

        <h2>
            How long do we keep personal information?
        </h2>
        <p>
            We will only keep the information for as long as we consider that we need for the purposes it was given to us and as required by law or regulation. When we no longer need to keep personal information we will securely and confidentially destroy it.
        </p>
        <h2>
            Member updating and deletion of personal information
        </h2>
        <p>
            Members can login to the club website (www.Guildford-BSAC.com) where they are able access their membership data and their communication preferences.
        </p>
        <p>
            Upon request the Membership Secretary will send members copies of the information we hold about.
        </p>
        <p>
            Upon receipt of instruction we will stop using all or part of the information we hold and delete information as directed.
        </p>
        <h2>
            Legal rights
        </h2>
        <p>
            Members have the right to:
        </p>
        <ul>
            <li>know if we hold information about them</li>
            <li>know what we use it for</li>
            <li>know what sort of information we hold</li>
            <li>know with whom we share it</li>
            <li>know how long we will keep the information</li>
            <li>receive a copy of the information we hold</li>
            <li>have irrelevant information deleted</li>
            <li>have any inaccuracies corrected</li>
            <li>restrict the way we use their information until inaccuracies are corrected</li>
            <li>have the information deleted from our records</li>
        </ul>

        <h2>Who do I need to contact about the information you hold about me or if I have a concern or complaint?</h2>

        <p>
            If you have any questions about why we collect and use your information, or:
        </p>
        <ul>
            <li>if you want a copy of it</li>
            <li>if you are unhappy with the way we are using your information</li>
            <li>you believe we should not be using it</li>
        </ul>

        <h4 >By Post</h4>
        <address>
            Membership Secretary
            <br />Guildford Sub-Aqua Club
            <br />The Guildford Waterside Centre
            <br />Riverside
            <br />Guildford
            <br />GU1 1LW
        </address>

        <h4>By Email</h4>
        <p>
            <a href="mailto:membershipsecretary@guildford-bsac.com">membershipsecretary@guildford-bsac.com</a>
        </p>
        <p>
            You have the right to complain to the Information Commissioner’s Office which enforces data protection laws at <a href="//ico.org.uk/" target="_blank">ico.org.uk</a>.
        </p>

    </div>
</section>