<section id="alreadyadiver" class="content-block-nopad content-3-10">
    <div class="image-container col-sm-6 col-xs-12 float-start">
        <div class="background-image-holder">

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-6 col-xs-12 content">
                <h1>Already A Diver</h1>
                <p class="lead">Qualifications from PADI, SSI, SSAC, SAA and other agencies are all recognised — it's easy to dive with us.</p>
                <p>
                    If you have a recognised qualification you do not have to do any cross-over or further training (unless you want to!). It doesn't matter who you
                    trained with (recreational, commercial or military), if you've never dived in the UK before or if you haven't dived for a few seasons -
                    all very welcome - please join us!
                </p>
                <p>
                    Instructors who have trained with other agencies are also exceptionally welcome. There is a straightforward induction process which recognises
                    instructor qualifications and accreditation to able to deliver BSAC instruction.
                </p>
                <p>
                    If you’re interested in experiencing diving with us, get in touch — we’d love to hear from you.
                </p>
                <a href="@Url.Action("ContactUs", "Home")" class="btn btn-outline outline-dark large">Contact Us</a>
            </div>
        </div>
    </div>
</section>