<section id="alreadyadiver" class="content-block-nopad content-3-10">
    <div class="image-container col-sm-6 col-xs-12 float-start">
        <div class="background-image-holder">

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-6 col-xs-12 content">
                <h1>Already A Diver</h1>
                <p class="lead">It's easy for PADI qualified (or other agency divers) divers to dive with BSAC</p>
                <p>
                    If you have a recognised qualification you do not have to do any cross-over or further training (unless you want to!). It doesn't matter who you
                    trained with (recreational, commercial or military), if you've never dived in the UK before or if you haven't dived for a few seasons -
                    all very welcome - please join us!
                </p>
                <p>
                    Instructors who have trained with other agencies are also exceptionally welcome. There is a straightforward induction process which recognises
                    instructor qualifications and accreditation to able to deliver BSAC instruction.
                </p>
                <p>
                    If you’re interested in experiencing diving with us, contact our reception officers for details
                </p>
            </div>
        </div>
    </div>
</section>