@model GuildfordBsac.Web.Models.MembershipRatesViewModel
<section id="fasttrack" class="content-block">
    <div class="container">
        <a href="https://shop.divecrew.co.uk/shop/divecrew-2012/en/view-course/courses/open-water-courses/bsac/bsac-ocean-diver-full-52148" target="_blank" class="">
            <img src="~/Content/Images/divecrewlogo.png" class="ps-3 w-25 float-end" />
        </a>
        <h1>Fast Track Training with Divecrew</h1>
        <p class="lead">our BSAC Centre Partnership</p>

        <p>
            At Guildford Sub-Aqua Club you can choose whether to train with the club or you can train with our partner BSAC Training Centre,
            <a href="https://divecrew.dive360.biz/courses/ocean-diver-fast-track" target="_blank" title="Divecrew">Divecrew</a>.
            If you want to get certified quickly then
            <a href="https://divecrew.dive360.biz/courses/ocean-diver-fast-track" target="_blank" title="Divecrew">Divecrew</a>
            can help you complete the Ocean Diver course in 4 or 5 days. This is a great option if you have a holiday in the near future or just can't wait to come diving with our club.
        </p>

        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <p>
                    The Ocean Diver course costs @(string.Format("{0:C}", Model.DiveCrewCost)) which includes all training, course materials and equipment including dry suits.
                    <a href="https://divecrew.dive360.biz/courses/ocean-diver-fast-track" target="_blank" title="Divecrew">Divecrew</a> can offer 0% Finance on the Ocean Diver Course so you can spread payments over a longer time period. You can also extend this Finance to equipment purchases if you so wish.
                </p>

                <p>
                    BSAC and club membership are additional, but the great news is we will waive the usual £30 joining fee if training with Divecrew.  See more about our
                    <a href="@Url.Action("Index", "Home")#membership">membership prices here</a>.
                </p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="https://divecrew.dive360.biz/courses/ocean-diver-fast-track" target="_blank" title="Divecrew"
                   class="btn btn-outline outline-dark large">Visit Divecrew Website</a>
            </div>
        </div>
    </div>
</section>