<section id="learntodive" class="content-block bg-clouds">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h1>Learn to Dive</h1>
                <p class="lead">From beginner to experienced, BSAC provides a full training programme that enables divers to progress through a framework of qualifications at their own pace.</p>
                <p>There are five internationally-recognised BSAC diver grades, from the entry level Ocean Diver through to our highest grade, First Class Diver.</p>
            </div>

            <div class="col-lg-7 offset-lg-1 col-md-8 col-sm-12">

                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li class="nav-item" role="presentation"><button class="nav-link active" id="tab1-btn" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Ocean Diver</button></li>
                    <li class="nav-item" role="presentation"><button class="nav-link" id="tab2-btn" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Sports Diver</button></li>
                    <li class="nav-item" role="presentation"><button class="nav-link" id="tab3-btn" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Dive Leader</button></li>
                    <li class="nav-item" role="presentation"><button class="nav-link" id="tab4-btn" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false">Advanced Diver</button></li>
                    <li class="nav-item" role="presentation"><button class="nav-link" id="tab5-btn" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab" aria-controls="tab5" aria-selected="false">First Class Diver</button></li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-btn" tabindex="0">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Ocean Diver</h2>
                                <p>If you’ve always wanted to learn how to dive, this course is for you. This course is for beginners and provides the essential knowledge and skills needed to prepare for open water diving.</p>
                                <p>The BSAC Ocean Diver course prepares for this in the safety of a swimming pool or sheltered water and an introduction to open water in a controlled, safe manner. Experience and confidence will be gained under the guidance of a qualified instructor. Maximum depth - 20m.</p>
                                <h4>Prerequisites</h4>
                                <p>
                                    To enrol on the BSAC Ocean Diver Course you must be 12 years or older.<br>A basic level of comfort in the water is important and you will
                                    have to demonstrate that you can swim 200m in swimwear.
                                </p>
                                <h4>What you’ll learn</h4>
                                <p>The BSAC Ocean Diver course has three main stages:</p>
                                <ol>
                                    <li>Lessons and theory assessment on the basic principles of scuba diving</li>
                                    <li>Five confined water dives to learn the basics in the water (usually in a swimming pool)</li>
                                    <li>Five open water dives to further develop your scuba diving skills</li>
                                </ol>
                                <h4>The fun bit</h4>
                                <p>Will hopefully be from start to finish! Learning to dive is a life changing experience for many people. Breathing underwater for the first time is something you will never forget and the experience of learning with others is great fun. Your instructor is trained to look after you every step of the way. </p>
                                <h4>Qualification and what that means</h4>
                                <p>A BSAC Ocean Diver is defined as a diver who is competent to conduct dives:</p>
                                <ul>
                                    <li>to a maximum depth of 20m.</li>
                                    <li>with another BSAC Ocean Diver or with a BSAC Sports Diver, within the restrictions of the conditions already encountered during training.</li>
                                    <li>with a Dive Leader or higher grade, to expand experience beyond the conditions encountered during training, under the supervision of a Dive Manager.</li>
                                    <li>not requiring mandatory decompression stops.</li>
                                    <li>under the on-site supervision of a Dive Manager with respect to site selection, conditions and dive plan.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-btn" tabindex="0">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Sports Diver</h3>
                                <p>
                                    BSAC Sports Diver training builds on the scuba skills you learnt in the Ocean Diver course (or entry level qualification from another agency)
                                    and helps develop your confidence, skills and experience in the water to allow you to enjoy a wider range of diving sites and conditions.
                                    The course builds a sound foundation of open water diving skills and experience with structured, practical lessons. This is a good way of
                                    getting more dives under your belt while learning under the supervision of a qualified instructor.
                                </p>

                                <p>
                                    Qualified BSAC Sports Divers are ready to take part in dives with other Ocean Divers or higher grade divers. Depth can be built progressively to
                                    a maximum of 35m after qualifying*. Sports Divers can embark on the first stage of the route of instruction.
                                    <br />*To complete the depth progression you need be over 14 years old. Those under 14 years can qualify to Sports Diver but can dive to a maximum
                                    depth of 20m.
                                </p>

                                <h4>Prerequisites</h4>
                                <p>
                                    To enrol on the BSAC Sports Diver Course you must be 12 years or older. You must have already successfully completed a BSAC Ocean Diver
                                    course (or qualifying certification from another recognised training agency).
                                </p>

                                <h4>What you’ll learn</h4>
                                <p>
                                    You’ll hone your scuba skills and experience in various areas including rescue skills, Surface Marker Buoys (SMBs) and Delayed Surface Marker
                                    Buoys (DSMBs), navigation, techniques with equipment, and more about breathing gas. In addition, BSAC Sports Divers are taught how to support a
                                    Dive Manager by acting as their deputy as the first step in developing this important role in support of safe diving. The BSAC Sports Diver course
                                    has both practical and classroom lessons run in an integrated sequence. The course includes a sheltered water lesson and five open water lessons
                                </p>.

                                <h4>The fun bit</h4>
                                <p>
                                    You will love the variety in this course. To ensure you experience a range of conditions, your instructor will include five types of dive from
                                    the following for you to experience: shore dive, nitrox dive (using a breathing gas >21% Oxygen up to a maximum of 36% (nitrox)), dive using a shot
                                    line, low visibility dive, drift dive, small boat dive, large boat dive, wall dive or a dive in protective clothing (wet suit or drysuit).
                                </p>

                                <h4>Qualification and what that means</h4>
                                <p>A BSAC Sports Diver is defined as a diver who is competent to:</p>
                                <ul>
                                    <li>conduct dives to 20m (if you choose to do the post qualification progress dives, the depth is increased in 5m increments to 35m)</li>
                                    <li>conduct dives with a BSAC Ocean Diver within the restrictions of the conditions already encountered by the Ocean Diver</li>
                                    <li>conduct dives with another BSAC Sports Diver, within the restrictions of the conditions already encountered during training.</li>
                                    <li>Conduct dives with a Dive Leader or higher grade, to expand experience beyond the conditions encountered during training, under the supervision of a Dive Manager.</li>
                                    <li>use breathing gas mixes up to Nitrox 36</li>
                                    <li>plan and conduct dives requiring mandatory decompression stops</li>
                                    <li>rescue a casualty and provide basic life support</li>
                                    <li>support the role of Dive Manager by acting as a competent deputy</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-btn" tabindex="0">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Dive Leader</h3>
                                <p>
                                    As a BSAC Dive Leader you are becoming an expert in your field of dive leadership. You will also be competent in planning dives for groups of
                                    divers and managing diving on the day including, if necessary, managing rescue situations. This comprehensive course is a mix of classroom-based
                                    and practical lessons that will give divers confidence to plan, lead and manage dives, and deal with emergencies. Leading a dive will develop
                                    enjoyment, confidence and experience as a diver. After qualifying, and if you wish, depth can be built progressively to a maximum of 50m.
                                    Dive Leaders are eligible to progress to Open Water Instructor.
                                </p>

                                <h4>Prerequisites</h4>
                                <p>
                                    To enrol on the BSAC Dive Leader Course you must be 14 years or older*. You must have already successfully completed a BSAC Sports Diver course
                                    (or qualifying certification from another recognised training agency).
                                    <br />*Sports Divers who are aged 12-14 are able to complete those elements of Dive Leader that do not require depths in excess of 20m)
                                </p>

                                <h4>What you’ll learn</h4>
                                <p>
                                    You will learn dive leadership skills through 12 classroom lessons, seven open water dives, two dry practical lessons and 20 dives (which may include
                                    the open water lessons) in a range of conditions. The BSAC Dive Leader course covers the role of the BSAC Dive Leader, Dive Planning and Management,
                                    Delayed Surface Marker Buoy (DSMB) use (midwater deployment), dive leading demonstrations, basic life support with Oxygen administration and practical
                                    management of diving incidents, casualty assessment, dive planning, shot recovery by simple lift and review of rescue skills.
                                </p>

                                <h4>Qualification and what that means</h4>
                                <p>A BSAC Dive Leader is defined as a diver who:</p>
                                <ul>
                                    <li>can plan and lead a range of dives including those requiring detailed dive, gas and decompression requirements planning.</li>
                                    <li>has rescue management skills.</li>
                                    <li>is competent to manage and supervise branch dives to locations well known to the branch.</li>
                                    <li>can conduct dives with divers of any grade, to expand their experience beyond that previously encountered by those divers, under the supervision of a Dive Manager.</li>
                                    <li>can conduct experience building dives with trainee Ocean Divers, within the restrictions of the conditions already encountered by the trainee Ocean Diver, and under the supervision of a Dive Manager.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-btn" tabindex="0">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Advanced Diver</h3>

                                <p>
                                    As a BSAC Advanced Diver you are a highly qualified branch diver. This course is for divers who are interested in extending still further their skills in planning and supervising diving groups, rescue management skills, whilst building seamanship and developing further leadership qualities.
                                </p>
                                <p>
                                    The BSAC Advanced Diver course develops knowledge and skills. Divers gain experience in planning dives at different sites and circumstances. Additional skills will be gained in using small boats, chartwork and navigation and many other related skills. Advanced Divers who are Open Water Instructors are eligible to progress to Advanced Instructor.
                                </p>

                                <h4>Prerequisites</h4>
                                <p>
                                    To enrol on the BSAC Advanced Course you must be 14 years or older. You must have already successfully completed a BSAC Dive Leader course (or qualifying certification from another recognised training agency).
                                </p>

                                <h4> What you’ll learn</h4>
                                <p>
                                    You will learn dive planning and management skills through four classroom lessons, two open water lessons, two dry practical lessons and 20 dives (which may include the open water lessons) in a range of conditions, since qualifying as a Dive Leader.
                                </p>
                                <ul>
                                    <li>The BSAC Advanced Diver course covers:</li>
                                    <li>The role of the BSAC Advanced Diver</li>
                                    <li>Advanced diving</li>
                                    <li>Organising diving from different platforms</li>
                                    <li>Review of diving conditions and on-site first aid</li>
                                    <li>Expedition planning</li>
                                    <li>Diving and rescue skills review</li>
                                    <li>Rescue skills and management review</li>
                                    <li>Dive planning and management</li>
                                </ul>

                                <p>
                                    The BSAC Advanced Diver course has relatively few ‘formal’ practical lessons and is much more heavily based on a structured broadening of experience, particularly dive management.
                                </p>

                                <h4>
                                    Experience dives
                                </h4>
                                <p>
                                    The BSAC Advanced Diver syllabus includes open water lessons and experience dives which should total a minimum of 20 dives and 600 minutes underwater time since qualifying as a Dive Leader. To ensure that students receive experience in a range of conditions, the open water dives must include the conditions in the following list. To ensure consolidation of the skill requirements, each of the conditions should be experienced on at least three dives:
                                </p>
                                <ul>
                                    <li>
                                        planned decompression dive - dive involving at least two planned decompression stops
                                    </li>
                                    <li>
                                        dive in tidal waters - dive involving a direct descent following a shot line, to dive on a specific site in a slack water window.
                                    </li>
                                    <li>drift dive - dive to a minimum depth of 15m in water moving at a speed which precludes a return to the point of entry</li>
                                </ul>
                                <p>
                                    Only one of the above conditions may be logged per dive. In addition to the above, a further six dives should include at least three of the following conditions:
                                </p>
                                <ul>
                                    <li>navigation dive - dive requiring navigation around a site.</li>
                                    <li>search dive - a dive involving the utilisation of underwater search techniques.</li>
                                    <li>no clear surface dive - a dive involving no clear surface, either cavern, wreck penetration or ice diving.</li>
                                    <li>mixed gas dive - a dive involving use of mixed gas, either closed circuit rebreather or open circuit.</li>
                                    <li>advanced decompression dive - a dive involving advanced decompression techniques and emergency gas deployment using decompression trapeze or lazy shot.</li>
                                    <li>
                                        surface location dive - a dive involving the surface location of an unknown site using surface searching techniques, followed by suitable precautions
                                        when diving an unknown site.
                                    </li>
                                </ul>
                                <p>
                                    Of the 20 dives:
                                </p>
                                <ul>
                                    <li>at least ten should be carried out from boats.</li>
                                    <li>on at least ten the student should act as dive leader</li>
                                    <li>at least six should show depth experience greater than 30m</li>
                                    <li>on at least five occasions the student should act as Dive Manager (including taking responsibility for carrying out all planning activities):</li>
                                    <li>at least two should be full day diving activities, to sites which are unknown to the student Dive Manager</li>
                                    <li>at least one should be for a duration of at least two days, involving overall planning of the event</li>
                                    <li>the remaining two may be to either known or unknown sites</li>
                                </ul>


                                <h4>Qualification and what that means</h4>
                                <p>
                                    A BSAC Advanced Diver is defined as a diver who is comprehensively trained, experienced and responsible and who can manage and supervise:
                                </p>
                                <ul>
                                    <li>a wide range of adventurous and challenging diving activities</li>
                                    <li>branch diving expeditions to explore unfamiliar locations</li>
                                    <li>branch diving activities including dives utilising developing technology and techniques</li>
                                </ul>
                                <p>
                                    While Advanced Divers do not necessarily need to be qualified to use emerging technologies themselves, they need to know sufficient about them to understand how to safely incorporate them within branch diving.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-btn" tabindex="0">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>First Class Diver</h3>
                                <p>
                                    BSAC's highest diving grade requires a higher than average level of theoretical knowledge, organisational and personal diving skills. First Class Diver is a very challenging award to achieve —
                                    with only around nine people certified each year, the 1,000th First Class Diver milestone was only reached in 2019.
                                </p>
                                <p>
                                    BSAC First Class Divers are assessed through nationally conducted examinations.
                                </p>

                                <h4>Prerequisites</h4>
                                <p>
                                    You must have completed 100 dives in a range of conditions since qualifying as an Advanced Diver, at least 20 of which must show experience of diving to
                                    depths greater than 30m. You must also have:
                                </p>
                                <ul>
                                    <li>attended a BSAC Chartwork and Position Fixing course (or equivalent).</li>
                                    <li>attained the BSAC Diver Rescue specialist qualification (requires FAD, O2, PRM and Adv. Lifesaver).</li>
                                    <li>gained the BSAC Diver Coxwain qualification (or equivalent).</li>
                                </ul>

                                <h4>Qualification and what that means</h4>
                                <p>
                                    The First Class Diver Exam is conducted at a national level and consists of three separate modules that can be taken in any order. More information on the First Class Diver syllabus and how to achieve it is available on the <a href="https://www.bsac.com/training/diver-grade-courses/" target="_blank">BSAC website</a>.
                                </p>
                                <ul>
                                    <li>Theory Knowledge Examination</li>
                                    <li>Expedition Plan</li>
                                    <li>Practical Diving Assessment (2 Days)</li>
                                </ul>

                                <p>A BSAC First Class Diver is defined as a diver who has:</p>

                                <ul>
                                    <li>a high level of practical diving skills and knowledge beyond that of BSAC Advanced Diver</li>
                                    <li>the ability to organise groups of divers and lead major diving expeditions to achieve specific aims or objectives</li>
                                    <li>the ability and knowledge to contribute to BSAC developments at a branch, regional and national level</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>