<section id="trydive" class="content-block-nopad">
    <div class="image-container col-md-5 col-sm-3 d-none d-sm-block float-start">
        <div class="background-image-holder"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6 col-sm-8 offset-sm-4 clearfix">
                <h1>Try Dive</h1>
                <p class="lead">Try scuba diving. The first time you breathe underwater is an experience to remember – and you will be surprised by just how much fun it is.</p>
                <a href="@Url.Action("ContactUs", "Home")" class="btn btn-outline outline-dark large" data-bs-selector="a.btn, button.btn">Contact</a>
                <div class="row pad45">
                    <div class="col-sm-12">
                        <h3>Never dived before?</h3>

                        <p>
                            Guildford Sub-Aqua Club offers try diving sessions to anyone who is interested to give it a go and experience the thrill of breathing under water!
                            We will supply you with all the necessary kit and you will spend between 30 minutes to an hour in the pool with an experienced qualified instructor,
                            who will give you an insight into what we are sure you will find to be a most enjoyable experience.
                        </p>

                        <p>
                            This try dive is open to young* and old alike and all that we ask is that you bring with you an open mind and your swim suit and have fun!
                        </p>

                        <p>
                            * Minimum Age for Membership of Guildford BSAC is 12.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>What will you learn?</h3>
                <p>Under the direct supervision of a BSAC Instructor, you will learn:</p>
                <ul>
                    <li>the basic safety guidelines and skills needed to dive.</li>
                    <li>about scuba equipment and how easy it is to use.</li>
                    <li>how to breathe underwater with scuba equipment.</li>
                    <li>the correct fining technique and how to adjust buoyancy, whilst having fun swimming around and exploring.</li>
                    <li>how to become a certified BSAC Ocean Diver.</li>
                </ul>

            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>When and where?</h3>
                <p>All try dives take place in a swimming pool, but please note try-dives do need to be arranged in advance and you will need to come to the Waterside Centre first so we can arrange equipment and introduce you to an instructor. We will make a nominal charge for the try-dive. However, this will be refunded if you decide to join the club.
                </p>
            </div>
        </div>
    </div>
</section>